
.App
{
  text-align: center;
  background-color: bisque;

}
.list
{
  text-align: left;
  padding: 25px;
  border-radius: 5px;
}
.btn
{
  width: 20%;
  border-radius: var(--borderRadius);
  cursor: pointer;

}
